// Base Color Tones
$silver:  #d8d8d8;
$white:  #ffffff;
$off-white: #FAF9F6;
$black:  #000000;
$dark-gray:  #585858;
$shadow: #a5a5a5;

// Other Color Tones
$blue: #425379;
$light-blue: #7592d6;
$yellow: #e6ff5b;
$dark-yellow: #c6c600;

// Base Fonts
$defaultFont: 'Raleway', sans-serif;
$secondaryFont: 'Roboto', sans-serif;

// Font Imports
@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Roboto&display=swap');
