.input {
  padding: 0.3em;
  font-size: 1.1rem;
}

.create-form {
  margin-top: 2em;
  width: 400px !important;
  margin-left: 13.5%;
}

.back-btn {
  margin-right: 2em;
}

.buttons-in {
  margin-top: 4em;
}

.date-info {
  color: $blue;
  background-color: $white;
  font-size: 1.2rem;
}

.close-btn {
  color: $blue;
}

.q-date__header {
  background-color: white !important;
  color: $blue;
}

// RESPONSIVE STUFF
@media only screen and (max-width: 1920) {
}

.project-create-title {
  color: $blue;
  padding-top: 1.2em;
  margin-left: 6em;
}

.logo-btn
{
  outline: none;
}
