.bg {
    max-height: 100vh;
    max-width: 80%;
    display: flex;
    flex-wrap: wrap !important;

    .div {
        margin-left: 16em;
    }
    
    .left {
        flex-grow: 1;
        padding-top: 8em;
        display: flex;
        justify-content: center;
        color: $blue;

        .info {
            font-size: 3rem;
        }
    }
    
    .right {
        flex-grow: 1;
        padding-top: 8em;
        display: flex;
        justify-content: center;

        .form {
            width: 450px;
            padding-bottom: 8em;
        }
    }
}

.kream-logo {
    font-size: 1.4rem;

}


.carousel {
    max-width: 100%;
    max-height: fit-content;
    bottom: 0;
    width: 100%;

    .bg-crsl {
        background-color: $blue;
        background: linear-gradient(90deg, $black 0%, $blue 100%); 
    }
}


/////////////////// HOVER ////////////////////////////////
.star:hover {
    color: yellow !important;
}
.fav-star:hover {
    color: grey !important;
}
.edit:hover {
    color: black;

}

.delete:hover {
    color: red;
}

.todo-row {
    margin-top: 5em;
}


/////////// RESPONSIVE ////////////////////////////////////////
@media only screen and (max-width: 600px) {
    .left { padding-top: 2em !important; }
    .right { padding-top: 2em !important; padding-left: 2em;}
    .form { width: 300px !important; padding-bottom: 24em;}
    .info { font-size: 2rem !important; margin-left: 0.7em; }
    .kream-logo { font-size: .8rem !important; }
    .carousel { display: none; }



}


////////////// H3 TITLES ////////////////////////////////////
@media only screen and (max-width: 600px) { 
    .project-create-title {margin-left: 2em !important;}
    .project-subtitle {margin-left: 4em !important;}
    .project-single-subtitle {margin-left: 3em !important;}
    .project-single-title {margin-left: 1.5em !important;}
    
    
}