.project-icon {
   width: 24px !important;
    height: 24px !important;
}

.project-container {
    left: 13em;
    position: relative;
    display: inline-grid;
    justify-content: center;
    align-content: center;
    grid-auto-flow: column;
}

.err {
    margin-top: 3em;
    text-align: center;
}

.err-link {
    color: $blue;
    border-bottom: 3px solid $blue;
    transition: .3s ease-in;
}

.err-link:hover {
    color: $silver;
    border-bottom: 3px solid $silver;
}

.project-info {
    max-width: 150px;
    font-size: 12px;
}

.projects {
    display: inline;

    .project-title {
        color: $blue;
        padding-top: 1.2em;
        margin-left: 4em;
    }
}

.project-card {
    margin-top: 2em;
    display: flex;

    .single-projects {
        width: 500px;
        background: linear-gradient(90deg, $silver 0%, $white 100%);

        .project-btns {
            display: flex;
            text-align: center;
            justify-content: center;
            width: 100%;
            .open-btn, .delete-btn {
                flex-grow: 1;
            }
            .delete-btn {
                border-bottom: 1px solid red;
            }
        }
      
    }
}

.star, .fav-star {
    transition: .3s ease-in-out;
    cursor: pointer;
}

.star:hover {
    color: yellow !important;
    transform: scale(1.4);
}

.fav-star:hover {
    color: grey !important;
    transform: scale(1.4);
}

/////////// RESPONSIVE ////////////////////////////////////////
@media only screen and (max-width: 800px) {
    .project-container { margin-left: 4em; }
    .projects { .project-title { margin-left: 3em; } }
}

@media only screen and (max-width: 730px) {
    .project-container { margin-left: 1em; }
    .projects { .project-title { margin-left: 2em; } }
    .single-projects { width: 550px !important; }
}

@media only screen and (max-width: 600px) {
    .project-container { margin-left: 1em; }
    .projects { .project-title { margin-left: 0.8em; } }
    .single-projects { width: 300px !important; }
}
