@media only screen and (max-width: 940px) {
    .dropdown-mobile { display: none; }
    .outline-mobile { padding: -4em; }
}

@media only screen and (max-width: 800px) {
    .outline-mobile { padding-left: -2em; }
}

@media only screen and (max-width: 600px) {
    .profile-mobile { display: none; }
}