.todo-list {
	width: 300px;
	margin-top: 6em;
	height: auto;
	background-color: $off-white;
	border-radius: 5px;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
	color: $blue;

	.input-task {
		padding: 1em;
		color: $blue;
	}

	.todo-item {
		padding: 1em;
	}

	.done {
		.q-item__label {
			text-decoration: line-through;
			color: #bbb;
		}
		.q-checkbox__bg {
			background-color: #bbb;
			border: 2px solid #bbb;
		}
		background-color: $off-white;
	}

	.q-checkbox__bg {
		background-color: $off-white;
		border: 2px solid $blue;
	}

	.todo-title {
		text-align: center;
		font-size: 1.3em;
		text-transform: uppercase;
		padding: 1em;
		border-radius: 5px;
		font-weight: bold;
	}
}

.stuff {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 70%;
}

.note {
	margin-top: 6em;
	background-color: $off-white;
	border-radius: 5px;
	height: auto;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
	color: $blue;
	
	.note-content {
		margin-top: 1em;
		max-width: 400px;
	}
}