.todo-list {
	min-width: 350px;
	margin-top: 6em;
	height: auto;
	background-color: $off-white;
	border-radius: 5px;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
	color: $blue;
	padding: 1.5em;
	margin-right: 2em;
	margin-bottom: 6em;
	-webkit-backdrop-filter: blur(16px) !important;
    backdrop-filter: blur(16px) !important;
    z-index: 9999;
	opacity: 0.9;

	.input-task {
		padding: 1em;
		color: $blue;
	}

	.todo-item {
		padding: 1em;
		margin: 1em;
		border-radius: 5px;
	}

	.done {
		margin: 1em;
		border-radius: 5px;
		box-shadow: 3px 8px 12px rgba(255, 255, 255, 0.158);
		
		.q-item__label {
			text-decoration: line-through;
			color: #bbb;
		}
		.q-checkbox__bg {
			background-color: #bbb;
			border: 2px solid #bbb;
		}
		background-color: $off-white;
	}

	.q-checkbox__bg {
		background-color: $off-white;
		border: 2px solid $blue;
	}

	.todo-title {
		text-align: center;
		padding: 1em;
		border-radius: 5px;
	}
}

.stuff {
	position: absolute;
	margin-left: 280px;
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
}

.note {
	margin-top: 6em;
	background-color: $off-white;
	border-radius: 5px;
	height: auto;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
	color: $blue;
	margin-right: 2em;
	-webkit-backdrop-filter: blur(16px) !important;
    backdrop-filter: blur(16px) !important;
    z-index: 9999;
	opacity: 0.9;
	
	.note-content {
		margin-top: 1em;
		max-width: 400px;
	}
}

.q-editor {
	margin-top: 5em;
	max-width: 400px;
	margin-left: 3em;
}