.todo-list {
	min-width: 400px;
	margin-top: 6em;
	height: auto;
	background-color: $off-white;
	box-shadow: 6px 6px 0px rgba(0, 0, 0, 0.2);
	border: 1px solid $black;
	color: $blue;
	padding: 1.5em;
	margin-right: 2em;
	margin-bottom: 6em;

	.input-task {
		padding: 0em 2em 0em 2em;
		color: $blue;
	}

	.todo-item {
		margin: 1em;
		font-size: 1rem;
		background-color: $off-white;
		border: 1px inset $black;
		transition: .3s ease-in-out;
	}

	.done {
		margin: 1em;
		box-shadow: 6px 6px 0px rgba(0, 0, 0, 0.2);
		border: 1px inset transparent;
		
		.q-item__label {
			text-decoration: line-through;
			color: #bbb;
		}
		.q-checkbox__bg {
			background-color: #bbb;
			border: 2px solid #bbb;
		}
		background-color: $off-white;
	}

	.q-checkbox__bg {
		background-color: $off-white;
		border: 2px solid $blue;
		border-radius: 0px;
	}

	.todo-title {
		text-align: center;
		padding: 1em;
		border-radius: 5px;
	}
}

.stuff {
	position: absolute;
	margin-left: 280px;
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
}

.note {
	margin-top: 6em;
	background-color: $off-white;
	height: auto;
	box-shadow: 6px 6px 0px rgba(0, 0, 0, 0.2);
	border: 1px solid $black;
	color: $blue;
	margin-right: 2em;
	-webkit-backdrop-filter: blur(16px) !important;
    backdrop-filter: blur(16px) !important;
	
	.note-content {
		margin-top: 1em;
		max-width: 400px;
		color: $black;
		font-size: 1rem;
	}
}

.note-title {
	margin: .5em;
	text-align: center;
}